# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.idea/
*.iml
target/

# generated example output directories
example_run_ags/*/
ags_cascade_1.0/*/
ags_cascade_2.0/*/

jsbml.log
